@import "tailwindcss";

/* Reset & Global Styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Variables */
  :root {
    --bk: #000000; /* Black */
    --nv: #103463; /* Navy */
    --lb: #d3e3fd; /* Light Blue */
    --lg: #f2f3f7; /* Light Gray */
    --gr: #8aaabe;
    --wh: #ffffff; /* White */
    --db: #08294a; /* Dark Blue */
    --bl: #1a5a81; /* Blue */
    --gr: #1f8a70; /* Grean */
    --re: #c5172e;
    --shadow-1: 0px 4px 4px 0px #00000040;
  }

  /* Scrollbar Customization */
  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: var(--lg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bl);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #08294a;
  }
}
