@import "tailwindcss";

/* Reset & Global Styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Variables */
  :root {
    --bk: #000000; /* Black */
    --nv: #103463; /* Navy */
    --lb: #d3e3fd; /* Light Blue */
    --lb-2: #c4dbfa; /* Light Blue */
    --lg: #f2f3f7; /* Light Gray */
    --gry: #8aaabe;
    --tb: #38bcc1;
    --gry2: #edf5f8;
    --yl: #f6be2c; /*yellow */
    --wh: #ffffff; /* White */
    --db: #08294a; /* Dark Blue */
    --bl: #1a5a81; /* Blue */
    --bl2: #0079ab;
    --gr: #1f8a70; /* Grean */
    --re: #c5172e;
    --pink: #ffe5e8;
    --brown: #b12c00;
    /* shadows */
    --shadow-1: 0px 4px 4px 0px #00000040;
    --shadow-2: 0px 6px 6px 2px #1a5a8195;

    scroll-behavior: smooth;
  }

  /* Scrollbar Customization */
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: var(--lg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--nv);
    border-radius: 1px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #08294a;
  }
}
@layer components {
  .article-message {
    background-image: url("../../public/user/welcome-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mwm {
    background-image: url("../../public/user/message-layer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .line::before {
    background: linear-gradient(90deg, #103463 0%, rgba(16, 52, 99, 0) 100%);
  }
  .bg-img-1 {
    background-image: url("../../public/user/card-article-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-img-2 {
    background-image: url("../../public/user/card-article-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .review-layer {
    background-image: url("../../public/user/Layer-1-op.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .review-card:nth-child(odd) {
    --currnet-color: var(--tb);
    background-color: var(--currnet-color);
  }
  .review-card:nth-child(even) {
    --currnet-color: var(--nv);
    background-color: var(--currnet-color);
  }
  .review-card::after,.card-bg::after {
    transition: transform 0.3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    margin: 0 auto;
    border-radius: 90%;
    background-color: var(--currnet-color);
    filter: blur(9px);
    bottom: -30px;
    left: 0;
    transform: scaleY(0) translateX(0);
  }
  .review-card:hover::after,.card-bg:hover::after {
    transform: scaleX(1) translateY(5px);
  }
  .card-bg {
    --currnet-color: var(--nv);
    background-image: url(../../public/home/patient-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-child(2){
      background-image: url(../../public/home/patient-2.jpg);
    }
    &:nth-child(3){
      background-image: url(../../public/home/patient-3.jpg);
    }
  }
}

@utility btn {
  @apply active:transform-[scale(0.95)] bg-[var(--tb)] text-[var(--wh)] shadow-[var(--shadow-1)] md:text-lg  font-semibold sm:py-2.5 sm:px-8 rounded-2xl transition duration-300 px-3 py-2;
  &:hover {
    @apply bg-[var(--bl)]/90 transform-[scale(1.05)];
  }
}
