@import "tailwindcss";

/* Reset & Global Styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Variables */
  :root {
    --bk: #000000; /* Black */
    --nv: #103463; /* Navy */
    --lb: #d3e3fd; /* Light Blue */
    --lb-2: #c4dbfa; /* Light Blue */
    --lg: #f2f3f7; /* Light Gray */
    --gry: #8aaabe;
    --tb: #38bcc1;
    --yl: #f6be2c; /*yellow */
    --wh: #ffffff; /* White */
    --db: #08294a; /* Dark Blue */
    --bl: #1a5a81; /* Blue */
    --gr: #1f8a70; /* Grean */
    --re: #c5172e;
    /* shadows */
    --shadow-1: 0px 4px 4px 0px #00000040;
    --shadow-2: 0px 6px 6px 2px #1a5a8195;
  }

  /* Scrollbar Customization */
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: var(--lg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--nv);
    border-radius: 1px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #08294a;
  }
}
@layer components {
  .article-message {
    background-image: url("../../public/user/welcome-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mwm {
    background-image: url("../../public/user/message-layer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .line::before {
    background: linear-gradient(90deg, #103463 0%, rgba(16, 52, 99, 0) 100%);
  }
  .bg-img-1 {
    background-image: url("../../public/user/card-article-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-img-2 {
    background-image: url("../../public/user/card-article-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
