@import "tailwindcss";

/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bk: #000000;   /* Black */
  --nv: #103463;   /* Navy */
  --lb: #D3E3FD;   /* Light Blue */
  --lg: #F2F3F7;   /* Light Gray */
  --wh: #FFFFFF;   /* White */
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--lg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--nv);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #08294a; 
}
