@import "tailwindcss";

/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Variables */
:root {
  --bk: #000000; /* Black */
  --nv: #103463; /* Navy */
  --lb: #d3e3fd; /* Light Blue */
  --lg: #f2f3f7; /* Light Gray */
  --wh: #ffffff; /* White */
  --db: #08294a; /* Dark Blue */
  --gr: #1f8a70; /* Grean */
  --re: #c5172e;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--lg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--nv);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #08294a;
}
